@page
@model AdminWeb.Pages.MonitorSettings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Monitor Settings</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MonitorSettings.Key)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MonitorSettings.Key)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MonitorSettings.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MonitorSettings.Value)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MonitorSettings.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
